.sidebar{
    float: left;
    width: 30%;
    height: 150px;
    background-color: gray;
    padding: 2%;
}
.main{
    float: right;
    width: 60%;
    height: 150px;
    background-color: grey;
    padding: 2%;
}
p {
    position: absolute;
    top: 260px;
}

